<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}EduPass{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
<!--#7b4397ff -> #dc2430ff-->

</head>
<header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper" style="background-image:linear-gradient(to right,#7b4397,#dc2430);">
            <a href="/" class="brand-logo right">EduPass</a>
            <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
              <li><a href="/">Home</a></li>
              <li><a href="/accounts/login/">Login</a></li>
              <li><a href="/accounts/signup/">Sign up</a></li>
            </ul>
          </div>
        </nav>
      </div>
    
      <ul class="sidenav teal darken-2" id="mobile" style="padding-top:5%">
        <li><a class="white-text" href="/bookings/">Show all bookings</a></li>
        <li><a class="white-text" href="/makeBooking/">Make a booking</a></li>
      </ul>
</header>

<body class="grey-text text-lighten-4 grey darken-4">
  <div class="container">
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </div>
</body>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
</html>

