{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="center-align">
  {% if user.is_authenticated %}
    <h2>Hi {{ user.username }}!</h2>
    {% include 'indexPage.html' %}
    <div class="divider"></div>
    <div class="section">
      <div class="row"><p><a class="waves-effect waves-light btn-large" style="float:right;" href="{% url 'logout' %}">logout</a></p></div>
      <div class="row"><p><a class="waves-effect waves-light btn-large" style="float:right;" href="{% url 'password_reset' %}">reset password</a></p></div>
    </div>
  {% else %}
    <h2>You are not logged in</h2>
    <p><a class="waves-effect waves-light btn-large" href="{% url 'login' %}">login</a></p>
    <p><a class="waves-effect waves-light btn-large" href="{% url 'signup' %}">Sign Up</a></p>
</div>
{% endif %}
{% endblock %}