{% load static %}

    <!-- card -->
    <div class="row">
        <div class="col s12 m6">
            <div class="grey darken-3 card hoverable">
                <a data-target='dropdown1' class="dropdown-trigger" href="#">
                    <div class="card-image">
                        <img src="{% static "home/elearning.jpg" %}">
                        <span class="card-title grey-text text-lighten-3" style="text-shadow: .05em .05em .25em black;">E-Learning Platforms</span>
                    </div>
                </a>
            </div>
            <ul id='dropdown1' class='dropdown-content grey darken-3'>
                <li><a class="grey-text text-lighten-3" href="https://learning.moe.edu.sg/">Student Learning Space</a></li>
                <li><a class="grey-text text-lighten-3" href="https://lms.asknlearn.com/">ASKnLearn</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.ace-learning.com/login">ACE-Learning</a></li>
              </ul>

        
            
              <div class="grey darken-3 card hoverable">
                    <a href="/finance/">
                        <div class="card-image">
                            <img src="{% static "home/finance.jpg" %}">
                            <span class="card-title grey-text text-lighten-3" style="text-shadow: .05em .05em .25em black;">Manage Funds</span>
                        </div>
                    </a>
                </div>
            </div>
        <!-- card end -->

            
    <!-- card -->
        <div class="col s12 m6">
                        <div class="grey darken-3 card hoverable">
                            <a href="https://www.nlb.gov.sg/">
                                <div class="card-image">
                                    <img src="{% static "home/library.jpg" %}">
                                    <span class="card-title grey-text text-lighten-3" style="text-shadow: .05em .05em .25em black;">Library services</span>
                                </div>
                            </a>
                        </div>
                    </div>
            <!-- card end -->
        </div>

            
    <!-- card -->
            <!-- card end -->