{% load static %}
<script>
$('.dropdown-trigger').dropdown();
</script>
<div class="row">
    
  <!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>
        <div class="col s12 m6">
            <div class="grey darken-3 card hoverable">
                <a data-target='dropdown1' class="dropdown-trigger" href="#">
                    <div class="card-image">
                        <img src="{% static "home/3.jpg" %}">
                        <span class="card-title grey-text text-lighten-3" style="text-shadow: .05em .05em .25em black;">Card Title</span>
                    </div>
                </a>
            </div>
        </div>
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="#!">one</a></li>
          <li><a href="#!">two</a></li>
          <li class="divider" tabindex="-1"></li>
          <li><a href="#!">three</a></li>
          <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
          <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
        </ul>

            
        <div class="col s12 m6">
                <div class="grey darken-3 card hoverable">
                        <div class="card-image">
                            <img src="{% static "home/3.jpg" %}">
                            <span class="card-title grey-text text-lighten-3" style="text-shadow: .05em .05em .25em black;">Card Title</span>
                        </div>
                </div>
            </div>
        </div>