{% load static %}
<div class="row">

    <!-- card -->
        <div class="col s12 m6">
                <div class="grey darken-3 card hoverable">
                    <a href="/finance/parent/">
                        <div class="card-image">
                            <img src="{% static "home/finance.jpg" %}">
                            <span class="card-title grey-text text-lighten-3" style="text-shadow: .05em .05em .25em black;">Manage Funds</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- card end -->


    <!-- card -->
    <div class="col s12 m6">
            <div class="grey darken-3 card hoverable">
                <a href="/communication/">
                    <div class="card-image">
                        <img src="{% static "home/teacherInteraction.png" %}">
                        <span class="card-title grey-text text-lighten-3" style="text-shadow: .05em .05em .25em black;">Communicate with teachers</span>
                    </div>
                </a>
            </div>
        </div>
        <!-- card end -->


    <!-- card -->
        <div class="col s12 m6">
                <div class="grey darken-3 card hoverable">
                    <a href="/events/">
                        <div class="card-image">
                            <img src="{% static "home/event.jpg" %}">
                            <span class="card-title grey-text text-lighten-3" style="text-shadow: .05em .05em .25em black;">Manage events</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- card end -->

            
        </div>