{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign up</h2>
    <div class="row section">
    <form method="post">
      {% csrf_token %}
      
      <div class="row">
        <div class="input-field col s12 l6">
          <input class="grey-text text-lighten-5" type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
          <label class="grey-text text-lighten-5" for="id_username">Username</label> 
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 l6">
          <input class="grey-text text-lighten-5" type="password" name="password1" required="" id="id_password1">
          <label class="grey-text text-lighten-5" for="id_password1">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 l6">
          <input class="grey-text text-lighten-5" type="password" name="password2" required="" id="id_password2">
          <label class="grey-text text-lighten-5" for="id_password2">Password confirmation</label> 
        </div>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
{% endblock %}