{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Enter Two-Factor key</h1>
<h4>Please enter the key sent to {{  displayNumber  }}</h4>
<form method="post" action="/auth/twoFactor/" autocomplete="off">
  {% csrf_token %} 
      <input class="grey-text text-lighten-5" type="hidden" name="username" autofocus="" required="" id="username" value="{{  username  }}">
  
      <input class="grey-text text-lighten-5" type="hidden" name="password" required="" id="password" value="{{  password  }}">
  
      <input class="grey-text text-lighten-5" type="hidden" name="actual2Fa" required="" id="actual2Fa" value="{{  twoFactorKey  }}">
  
      <input class="grey-text text-lighten-5" type="hidden" name="phoneNumber" required="" id="phoneNumber" value="{{  phoneNumber  }}">

  <div class="row">
    <div class="input-field col s12 l6">
      <input class="grey-text text-lighten-5" maxlength="5" type="text" name="twoFactorInput" required="" id="twoFactorInput" autocomplete="off">
      <label class="grey-text text-lighten-5" for="id_password">Two-Factor Key</label>
    </div>
  </div>

  <button class="btn waves-effect waves-light highlight-purple" type="submit" name="action">Submit
      <i class="material-icons right">forward</i>
    </button>
</form>
{% endblock %}